#
# API Gateway configuration
#

# Flask settings
FLASK_ENV=production
APP_SECRET=2929383DmdosfSlsDKfkSl2304ssdfpgmfls302k

# Microservices
USERS_MS_PORT=
BLACKLIST_MS_PORT=5000
MESSAGES_MS_PORT=5000
# <MICROSERVICE_NAME>_MS_PORT=5000
# ...
