{% extends "layout.html" %}

{% block title %}{{ label }} Bottlebox{% endblock %}

{% block content %}

<h1>{{ label }} Bottlebox</h1>

{% for msg in messages: %}
  <div class="card" style="margin-bottom: 10px;">
    {% if label == 'Received' and not msg.is_read %}
      <div class="card-header bg-primary text-white h5">
        New
      </div>
    {% endif %}
    <div class="card-header">
      Deliver time: {{msg.deliver_time.strftime('%d/%m/%Y at %H:%M')}}
    </div>
    <div class="card-header">
      {% for user in users: %}
        {% if user.id == msg.sender_id %}
          From: {{user.firstname}} {{user.lastname}} ({{user.email}})
        {% endif %}
      {% endfor %}
    </div>
    <div class="card-header">
      To:
      {% for recipient in msg.recipients: %}
        {% for user in users: %}
          {% if user.id == recipient.recipient_id %}
            {{user.firstname}} {{user.lastname}} ({{user.email}}),
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="card-body">
      <p class="card-text">{{msg.content}}</p>
      {% if label == 'Pending' %}
        <a href="/messages/pending/{{msg.id}}" class="btn btn-primary">Open</a>
      
      {% elif label == 'Received' %}
        <a href="/messages/received/{{msg.id}}" class="btn btn-primary">Open</a>
      
      {% elif label == 'Delivered' %}
        <a href="/messages/delivered/{{msg.id}}" class="btn btn-primary">Open</a>
      
      {% elif label == 'Drafts' %}
        <a href="/messages/draft/{{msg.id}}" class="btn btn-primary">Modify message</a>
      
      {% endif %}
    </div>
  </div>

{% endfor %}

<a href="/bottlebox" id="backButton" class="btn btn-success mb-3">Back</a>

{% endblock %}
