{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="text-center">

  <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">

    <main class="px-3">
      {% if current_user.is_authenticated %}
        <h1>Hi {{ current_user.firstname }} {{ current_user.lastname }}!</h1>
        <h2>My message in a bottle</h2>
        <p class="lead">What you want to do?</p>
        <p class="lead">
          <a href="/profile" class="btn btn-lg btn-primary fw-bold">Show profile</a>
          <a href="/bottlebox" class="btn btn-lg btn-primary fw-bold">Bottleboxes</a>
          <a href="/messages/new" class="btn btn-lg btn-primary fw-bold">New message in a bottle</a>
          <a href="/calendar" class="btn btn-lg btn-primary fw-bold">Calendars</a>
          <a href="/users/search" class="btn btn-lg btn-primary fw-bold">Search a user</a>
          <a href="/blacklist" class="btn btn-lg btn-warning fw-bold">Blacklist</a>
        </p>
        
      {% else %}
        <h1>Hi Anonymous!</h1>
        <h1>Welcome to</h1>
        <h1>My message in a bottle</h1>
        <p class="lead">Please</p>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white">Login</a>
          or
          <a href="/register" class="btn btn-lg btn-secondary fw-bold border-white">Register</a>
        </p>
      {% endif %}
    </main>

  </div>
</div>

{% endblock %}