{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}

<h1>Message details</h1>

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    Deliver time: {{message.deliver_time.strftime('%d/%m/%Y at %H:%M')}}
  </div>
  <div class="card-header">
    From: 
    {% if label == 'received' %}
      {{message.sender_firstname}} {{message.sender_lastname}} ({{message.sender_email}}) {% if not message.is_sender_in_blacklist %} <a href="/users/{{message.sender_id}}" class="btn btn-success btn-sm">See profile</a> {% endif %}
    {% else %}
      {{current_user.firstname}} {{current_user.lastname}} ({{current_user.email}})
    {% endif %}
  </div>
  <div class="card-header">
    To:
    {% if label == 'received' %}
      {{current_user.firstname}} {{current_user.lastname}} ({{current_user.email}})
    {% else %}
      {% for user in message.recipients: %}
        <br>
        {{user.firstname}} {{user.lastname}} ({{user.email}}) 
        {% if not user.is_in_blacklist %} <!-- non-blocked user -->
          <a href="/users/{{user.id}}" class="btn btn-success mt-1 btn-sm">See profile</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-text">{{message.content}}</p>
    {% if message.image != '' %}
      <img src="/messages/{{label}}/{{message.id}}/attachment" class="img-fluid rounded">
    {% endif %}

    {% if label == 'received' or label == 'delivered' %}

      <div class="btn-group" role="group" aria-label="commands">
        <a href='/messages?forward=1&label={{label}}&message_id={{message.id}}' id="forwardButton" class="btn btn-primary">Forward</a>
      
      {% if label == 'received' %}
        
        {% if not blocked %}
          <a href='/messages?write_to={{message.sender_email}}' id="replyButton" class="btn btn-primary">Reply</a>
        {% endif %}
      
      {% endif %}
        
      </div>
    
    {% endif %}
    
    {% if label == 'received' %}

      <div class="mt-3 mb-3">
        {% if not reported %}
          <form action="/report" method="POST">
            {{ reportForm.hidden_tag() }}
            <button type="submit" class="btn btn-warning">Report this sender</button>
          </form>
        {% else %}
          <button disabled class="btn btn-warning">Reported</button>
        {% endif %}
        
      </div>

      <div class="mt-3 mb-3">
        <form action="/hide" method="POST">
          {{ hideForm.hidden_tag() }}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    
    {% endif %}

    {% if label == 'pending' %}
      <a href='/messages/{{message.id}}/remove' id="deleteMessage" class="btn btn-danger">Delete message</a>
    {% endif %}

  </div>
</div>

<a href='/bottlebox' id="backButton" class="btn btn-success">Back</a>
 
{% endblock %}
