{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}

<h1>Message details</h1>

{# print errors, if occours #}
{% with msg = get_flashed_messages() %}
  {% if msg %}
    <div class="alert alert-danger" role="alert">
      {{ msg[0] }}
    </div>
  {% endif %}
{% endwith %}

<div class="card" style="margin-bottom: 10px;">
  <div class="card-header">
    Deliver time: {{message.deliver_time.strftime('%d/%m/%Y at %H:%M')}}
  </div>
  <div class="card-header">
    From: {{sender_name}} ({{sender_email}}) {% if not blocked %} <a href="/users/{{message.sender_id}}" class="btn btn-success btn-sm">See profile</a> {% endif %}
  </div>
  <div class="card-header">
    To:
    {% if label == 'received' %}
      {{current_user.firstname}} {{current_user.lastname}} ({{current_user.email}})
    {% else %}
      {% for user in recipients: %}
        <br>
        {{user[0].firstname}} {{user[0].lastname}} ({{user[0].email}}) 
        {% if not user[1] %} <!-- non-blocked user -->
          <a href="/users/{{user[0].id}}" class="btn btn-success mt-1 btn-sm">See profile</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-text">{{message.content}}</p>
    {% if message.image != '' %}
      <img src="/messages/{{message.id}}/attachments/{{message.image}}" class="img-fluid rounded">
    {% endif %}

    {% if label == 'received' %}

      <div class="btn-group" role="group" aria-label="commands">
        <a href='/messages/new?msg_id={{message.id}}' id="forwardButton" class="btn btn-primary">Forward</a>
        
        {% if not blocked %}
          <a href='/messages/new?single_recipient={{sender_email}}' id="replyButton" class="btn btn-primary">Reply</a>
        {% endif %}
        
      </div>

      <div class="mt-3 mb-3">
        {% if not reported %}
          <form action="/report" method="POST">
            {{ reportForm.hidden_tag() }}
            <button type="submit" class="btn btn-warning">Report this sender</button>
          </form>
        {% else %}
          <button disabled class="btn btn-warning">Reported</button>
        {% endif %}
        
      </div>

      <div class="mt-3 mb-3">
        <form action="/hide" method="POST">
          {{ hideForm.hidden_tag() }}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    
    {% endif %}

    {% if label == 'pending' %}
      <a href='/messages/{{message.id}}/remove' id="deleteMessage" class="btn btn-danger">Delete message</a>
    {% endif %}

  </div>
</div>

<a href='/bottlebox' id="backButton" class="btn btn-success">Back</a>
 
{% endblock %}
