{% extends "layout.html" %}

{% block title %}Modify profile picture{% endblock %}

{% block content %}

<div style="text-align: center;">
    <img src="/users/{{current_user.id}}/picture" class="img-fluid rounded-circle img-thumbnail" alt="{{current_user.email}}">

    {% if form.image.errors %}
        {% for error in form.image.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>Select a new profile image</h2>
    <br><br>

    <form action="/profile/picture/edit" method="POST" enctype="multipart/form-data">
        {{ form.image() }}
        <br><br>
        <input type="submit" class="btn btn-lg btn-warning fw-bold" value="Invia">
    </form>
</div>

{% endblock %}